@media (max-width:1024px){
.countDown .rotate {
width:150px;
height:150px;
margin:0 40px;
}
}
@media (max-width:768px){
.countDown .days, .countDown .hours, .countDown .minutes, .countDown .seconds {
  font-size: 54px;
  margin: 0 36px;
  padding: 10px 0;
}
.countDown .rotate {
  width:120px;
height:120px;
margin:0 30px;
}
.services .service .ser {
    padding-top: 20px;
}
.services .service .square {
margin-bottom:10px;
}
.carousel-caption {
    bottom: inherit;
    left: 10%;
    padding-bottom: 0;
    right: 10%;
    top: 10%;
}.carousel-caption img {    max-width: 100%;    height: auto;}
}
@media (min-width:480px) and (max-width:767px){
.countDown .rotate {    width: 95px;    height: 95px;    margin: 2% 20px;    float: none;    display: inline-block;}.countDown .days, .countDown .hours, .countDown .minutes, .countDown .seconds {    font-size: 48px;    margin: 0 35px;    padding: 0;}
.address {
    margin-top: -10px;
}.carousel-caption {    top: 15%;}
}
@media (max-width:480px){.carousel-caption img {    max-width: 100%;    height: auto;}
header .social-icons {
padding:5px 0 !important;;
}
header .social-icons li {
    font-size: 14px;
	margin: 0 5px 0 0;
}
header .social-icons .icon {
    background-color: #fff;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 25px;
    width: 25px;
    padding: 5px 4px;
    color: #eb5054;
}

.countDown .rotate {    width: 55px;    height: 55px;    margin: 0 10px;    float: none;    display: inline-block;}
.carousel-caption h1 {
  font-size: 30px;
}
.newsletter .form-group {
  left: 0%;
  width: 100% !important;
}
.newsletter .form-control {
  width: 100%;
}
.newsletter .btn{
width:100%;
}
.countDown .days, 
.countDown .hours,
.countDown .minutes,
.countDown .seconds {
    font-size: 30px;
    padding: 0;
    margin: 0;
}
.countDown .text {
  font-size:10px;
  margin-top:-5px;
}
.address{
margin-top:0 !important;
}
.countDown {
margin: 10px auto;
}
.address {
    margin-top: -110px;
}
.services .service .square {
    margin: 0 auto;
}
.ser h4{
text-align:center;
}
header .social-icons ul {
    padding: 0 5px;
}
header .social-icons ul li {
    margin: 0 2px;
}
.form-group {
    margin-bottom: 0;
}
.logo_class img {
    width: 150px;
    height: 90px;
}
.c_social .social li a i {
    font-size: 25px;
}
.carousel-caption {
  left: 5%;
  right: 5%;
  top: 5%;
  text-align:center;
}
.footer_social{
	text-align:center;
}
.c_social .social li {
    margin: 0 -1px 0px -2px !important;
	padding: 10px 0 !important;
}
.space {
    padding: 50px 0;
}
.sub_btn {
    display: inline-block;
}
.c_get_detail {
	min-height: auto;
}
.c_get {
    min-height: auto;
}
footer{
	padding:10px 0;
}
.footer_copy {
    font-size: 14px;
}
}
@media (max-width: 1024px){
.countDown .circle {
    margin: 0 4% 0 5% !important;
}
.countDown .circle .days,
 .countDown .circle .hours,
 .countDown .circle .minutes,
 .countDown .circle .seconds {
    font-size: 66px; margin: 20px auto !important;
}
}
@media (max-width: 768px){
.countDown .circle {
    margin: 0 2% !important;
	width: 150px !important;
    height: 150px !important;
}
.countDown .circle .days, .countDown .circle .hours, .countDown .circle .minutes, .countDown .circle .seconds{
 margin: 5px auto !important;
}
}
@media (max-width: 767px){
.countDown .circle {
    margin: 0 10px 0 20px !important;
    width: 120px !important;
    height: 120px !important;
}
.countDown .circle .days,
.countDown .circle .hours,
.countDown .circle .minutes,
.countDown .circle .seconds {
    font-size: 48px;
    margin: 5px auto !important;
}
}
@media (max-width: 480px){
.countDown .circle {
    margin: 0px 3px 0 10px !important;
    width: 65px !important;
    height: 65px !important;
}
.countDown .circle .days,
.countDown .circle .hours,
.countDown .circle .minutes,
.countDown .circle .seconds {
font-size: 42px;
}
}
@media (max-width: 320px){
.countDown .circle {
    margin: 0px 3px 0 2px !important;
    width: 60px !important;
    height: 60px !important;
}
.countDown .circle .days,
.countDown .circle .hours,
.countDown .circle .minutes,
.countDown .circle .seconds {
font-size: 36px;
}.countDown .rotate {    width: 48px;    height: 48px;    margin: 20px 10px ;}.countDown .rotate .days,.countDown .rotate .hours,.countDown .rotate .minutes,.countDown .rotate .seconds {font-size: 24px;}.countDown .text {  font-size:10px;  margin-top:-5px;}
}
